<header class="site-header" role="banner">
  <div class="wrapper">
    <nav class="site-nav">
      <a class="page-link" href="{{ '/' | relative_url }}">Home</a>
      <a class="page-link" href="{{ '/use-cases.html' | relative_url }}">Use Cases</a>
      <a class="page-link" href="{{ '/architectures.html' | relative_url }}">Architectures</a>
      <a class="page-link" href="{{ '/prompts.html' | relative_url }}">Prompts &amp; Testing</a>
      <a class="page-link" href="{{ '/about.html' | relative_url }}">About</a>
    </nav>
  </div>
</header>
